    * {
        padding: 0px;
        margin: 0px;
        transition: 0.8ms;
        scroll-behavior: smooth;
    }
/* navbar area */
.nav-container{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: white;
    background-color: blue;
}
.nav-logo{
    margin-left: 10px;
}
.nav-logo h1{
    padding: 8px;
    font-size: xx-large;
}
.nav-menu{
    display: flex;
    margin-right: 10px;
}
.nav-menu li{
    list-style: none;
    margin: 8px;
    padding: 8px;
    font-size: large;
}
.nav-menu li:hover{
    color: wheat;
    cursor: pointer;
}
/* home section area/ banner area/heading */
.banner-container{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    background-color: black;
    color: azure;
}
.banner-description{
    margin-left: 40px;
}
.banner-text{
    color: khaki;
    font-weight: bold;
    font-size: 24px;
}
.banner-title{
    font-weight: bolder;
    font-size: 40px;
    padding: 3px;
}
.banner-text2{
    font-size: 18px;
    padding: 3px;
    margin-bottom: 4px;
}
.banner-left{
    width: 50%;
}
.banner-right{
    width: 50%;
}
.banner-img img{
    height: 100vh;
    width: 100%;
}
.banner-btn{
    padding: 12px 24px;
    background-color: gold;
    margin-top: 10px;
}
/* card box area //  */
.card-container{
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 40px;  
}
.card-container h1{
    font-size: 55px;
    text-align: center;
    margin-bottom: 10px;
}
.card-box{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    flex-wrap: wrap;
}
.card1{
    border: 1px solid gray;
    text-align: center;
    box-shadow: 8px 8px 16px gray;
    border-radius: 10px;
    height: 250px;
    width: 350px;
    margin-top: 70px;
    padding: 10px;
    font-size: large;
}
.card-icon{
    width: 60px;
}
.card-icon3{
    width: 90px;
}
.card-icon2{
    width: 63px;
}
.card1:hover{
    transition: .5s;
    border-radius: 10px;
    margin-top: -10px;
    border: 1px solid rgb(226, 30, 30);
}
/*  About section area */